guitarShop.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">

    <!-- definition of complex elements -->
    <xsd:element name="guitarShop">
        <xsd:complexType>
            <xsd:sequence>
                <xsd:element name="products" type="productsType" minOccurs="1" maxOccurs="1"/>
                <xsd:element name="orders" type="ordersType" minOccurs="1" maxOccurs="1"/>
            </xsd:sequence>
        </xsd:complexType>

        <xsd:key name="idKeyGuitar">
            <xsd:selector xpath="./guitarShop/guitarType"/>
            <xsd:field xpath="@id"/>
        </xsd:key>
        <xsd:keyref name="idKeyGuitarRef" refer="idKeyGuitar">
            <xsd:selector xpath="./guitarShop/orders/orderedItem"/>
            <xsd:field xpath="@idref"/>
        </xsd:keyref>

        <xsd:key name="idKeyBass">
            <xsd:selector xpath="./guitarShop/bassType"/>
            <xsd:field xpath="@id"/>
        </xsd:key>
        <xsd:keyref name="idKeyBassRef" refer="idKeyBass">
            <xsd:selector xpath="./guitarShop/orders/orderedItem"/>
            <xsd:field xpath="@idref"/>
        </xsd:keyref>

        <xsd:key name="idKeyAmp">
            <xsd:selector xpath="./guitarShop/amplifierType"/>
            <xsd:field xpath="@id"/>
        </xsd:key>
        <xsd:keyref name="idKeyAmpRef" refer="idKeyAmp">
            <xsd:selector xpath="./guitarShop/orders/orderedItem"/>
            <xsd:field xpath="@idref"/>
        </xsd:keyref>

        <xsd:key name="idKeyPick">
            <xsd:selector xpath="./guitarShop/pickType"/>
            <xsd:field xpath="@id"/>
        </xsd:key>
        <xsd:keyref name="idKeyPickRef" refer="idKeyPick">
            <xsd:selector xpath="./guitarShop/orders/orderedItem"/>
            <xsd:field xpath="@idref"/>
        </xsd:keyref>

        <xsd:key name="idKeyStringPack">
            <xsd:selector xpath="./guitarShop/stringPackType"/>
            <xsd:field xpath="@id"/>
        </xsd:key>
        <xsd:keyref name="idKeyStringPackRef" refer="idKeyStringPack">
            <xsd:selector xpath="./guitarShop/orders/orderedItem"/>
            <xsd:field xpath="@idref"/>
        </xsd:keyref>

        <xsd:key name="idKeyEffect">
            <xsd:selector xpath="./guitarShop/effectType"/>
            <xsd:field xpath="@id"/>
        </xsd:key>
        <xsd:keyref name="idKeyEffectRef" refer="idKeyEffect">
            <xsd:selector xpath="./guitarShop/orders/orderedItem"/>
            <xsd:field xpath="@idref"/>
        </xsd:keyref>
    </xsd:element>

    <xsd:complexType name="productsType">
        <xsd:sequence>
            <xsd:element name="guitar" type="guitarType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="bass" type="bassType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="amplifier" type="amplifierType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="pick" type="pickType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="stringPack" type="stringPackType" minOccurs="0" maxOccurs="unbounded"/>
            <xsd:element name="effect" type="effectType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="guitarType">
        <xsd:sequence>
            <xsd:element name="brand" type="brandType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="model" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="pickups" type="pickupsType" minOccurs="0"/>
            <xsd:element name="price" type="priceType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="idType" use="required"/>
        <xsd:attribute name="guitarType" type="guitarTypeType" use="required"/>
        <xsd:attribute name="numberOfStrings" type="numberOfStringsType" use="required"/>
        <xsd:attribute name="orientation" type="orientationType" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="bassType">
        <xsd:sequence>
            <xsd:element name="brand" type="brandType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="model" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="pickups" type="pickupsType" minOccurs="0" maxOccurs="1"/>
            <xsd:element name="price" type="priceType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="idType" use="required"/>
        <xsd:attribute name="guitarType" type="guitarTypeType" use="required"/>
        <xsd:attribute name="numberOfStrings" type="numberOfStringsType" use="required"/>
        <xsd:attribute name="orientation" type="orientationType" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="amplifierType">
        <xsd:sequence>
            <xsd:element name="brand" type="brandType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="model" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="price" type="priceType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="speakers" type="speakersType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="idType" use="required"/>
        <xsd:attribute name="for" type="forType" use="required"/>
        <xsd:attribute name="ampType" type="ampTypeType" use="required"/>
        <xsd:attribute name="power" type="xsd:nonNegativeInteger" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="pickType">
        <xsd:sequence>
            <xsd:element name="brand" type="brandType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="model" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="price" type="priceType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="idType" use="required"/>
        <xsd:attribute name="width" type="widthType" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="stringPackType">
        <xsd:sequence>
            <xsd:element name="brand" type="brandType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="price" type="priceType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="idType" use="required"/>
        <xsd:attribute name="sizeFrom" type="sizeType" use="required"/>
        <xsd:attribute name="sizeTo" type="sizeType" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="effectType">
        <xsd:sequence>
            <xsd:element name="brand" type="brandType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="model" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="price" type="priceType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="id" type="idType" use="required"/>
        <xsd:attribute name="effectType" type="effectTypeType" use="required"/>
        <xsd:attribute name="voltage" type="xsd:nonNegativeInteger" use="required"/>
    </xsd:complexType>

    <xsd:complexType name="ordersType">
        <xsd:sequence>
            <xsd:element name="order" type="orderType" minOccurs="0" maxOccurs="unbounded"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="orderType">
        <xsd:sequence>
            <xsd:sequence>
                <xsd:element name="orderedItem" type="orderedItemType" minOccurs="1" maxOccurs="unbounded"/>
            </xsd:sequence>
            <xsd:element name="address" type="addressType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="person" type="personType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="orderId" type="xsd:nonNegativeInteger" use="required"/>
        <xsd:attribute name="courier" type="courierType" use="required"/>
    </xsd:complexType>
    
    <xsd:complexType name="addressType">
        <xsd:sequence>
            <xsd:element name="city" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="postcode" type="postcodeType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="street" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="building" type="xsd:nonNegativeInteger" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="flat" type="xsd:nonNegativeInteger" minOccurs="0" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <xsd:complexType name="personType">
        <xsd:sequence>
            <xsd:element name="name" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="surname" type="xsd:string" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="phoneNumber" type="phoneNumberType" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
    </xsd:complexType>

    <!-- definition of simple types -->

    <xsd:complexType name="brandType">
        <xsd:attribute name="name" type="guitarBrandNameType"/>
    </xsd:complexType>

    <xsd:simpleType name="guitarBrandNameType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="Fender"/>
            <xsd:enumeration value="Boss"/>
            <xsd:enumeration value="EHX"/>
            <xsd:enumeration value="Ibanez"/>
            <xsd:enumeration value="Epiphone"/>
            <xsd:enumeration value="Marshall"/>
            <xsd:enumeration value="Tortex"/>
            <xsd:enumeration value="Pickey"/>
            <xsd:enumeration value="TrueTone"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="pickupsType">
       <xsd:sequence>
           <xsd:element name="brand" type="brandType"/>
           <xsd:element name="type" type="pickupsTypeType"/>
       </xsd:sequence>
    </xsd:complexType>

    <xsd:simpleType name="pickupsTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:maxLength value="3"/>
            <xsd:enumeration value="SSS"/>
            <xsd:enumeration value="HSS"/>
            <xsd:enumeration value="SS"/>
            <xsd:enumeration value="HH"/>
            <xsd:enumeration value="HSH"/>
            <xsd:enumeration value="HHH"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="priceType">
        <xsd:simpleContent>
            <xsd:extension base="xsd:nonNegativeInteger">
                <xsd:attribute name="currency" type="xsd:string"/>
            </xsd:extension>
        </xsd:simpleContent>
    </xsd:complexType>

    <xsd:simpleType name="guitarTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="electric"/>
            <xsd:enumeration value="electric_baritone"/>
            <xsd:enumeration value="acoustic"/>
            <xsd:enumeration value="classic"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="idType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[a-z]{3}[-][0-9]+"></xsd:pattern>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="numberOfStringsType">
        <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="1"/>
            <xsd:maxInclusive value="12"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="orientationType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="left"/>
            <xsd:enumeration value="right"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="speakersType">
        <xsd:sequence>
            <xsd:element name="brand" type="brandType" minOccurs="1" maxOccurs="1"/>
            <xsd:element name="model" type="xsd:string" minOccurs="1" maxOccurs="1"/>
        </xsd:sequence>
        <xsd:attribute name="quantity" type="xsd:nonNegativeInteger" use="required"/>
        <xsd:attribute name="radius" type="xsd:nonNegativeInteger" use="required"/>
    </xsd:complexType>

    <xsd:simpleType name="forType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="guitar"/>
            <xsd:enumeration value="bass"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="ampTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="analog"/>
            <xsd:enumeration value="digital"/>
            <xsd:enumeration value="hybrid"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="widthType">
        <xsd:restriction base="xsd:double">
            <xsd:minInclusive value="0.3"/>
            <xsd:maxInclusive value="2.0"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="sizeType">
        <xsd:restriction base="xsd:nonNegativeInteger">
            <xsd:minInclusive value="6"/>
            <xsd:maxInclusive value="60"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="effectTypeType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="distortion"/>
            <xsd:enumeration value="overdrive"/>
            <xsd:enumeration value="tremolo"/>
            <xsd:enumeration value="multiefect"/>
            <xsd:enumeration value="delay"/>
            <xsd:enumeration value="wah"/>
            <xsd:enumeration value="compressor"/>
            <xsd:enumeration value="modulation"/>
            <xsd:enumeration value="other"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="courierType">
        <xsd:restriction base="xsd:string">
            <xsd:enumeration value="yes"/>
            <xsd:enumeration value="no"/>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:complexType name="orderedItemType">
        <xsd:attribute name="idref" type="idType"/>
    </xsd:complexType>

    <xsd:simpleType name="postcodeType">
        <xsd:restriction base="xsd:string">
            <xsd:pattern value="[0-9]{2}[-][0-9]{3}"></xsd:pattern>
        </xsd:restriction>
    </xsd:simpleType>

    <xsd:simpleType name="phoneNumberType">
        <xsd:restriction base="xsd:string">
            <xsd:minLength value="9"/>
            <xsd:maxLength value="9"/>
        </xsd:restriction>
    </xsd:simpleType>

</xsd:schema>